<center>
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DS0105EN-SkillsNetwork/labs/Module2/images/SN_web_lightmode.png" width="300" alt="cognitiveclass.ai logo">
</center>

#### Add your code below following the instructions given in the course

# EXERCISE 1: CREATE A JUPYTER NOTEBOOK
Create a new Jupyter notebook called "*DataScienceEcosystem.ipynb*"

# EXERCISE 2: CREATE MARKDOWN CELL WITH TITLE OF THE NOTEBOOK
Create a markdown cell with the title Data Science Tools and Ecosystem using H1 style heading.

*Markdown before runnig*

# Data Science Tools and Ecosystem

*Markdown after running*

# Data Science Tools and Ecosystem

# EXERCISE 3 - CREATE A MARKDOWN CELL FOR AN INTRODUCTION
Write an introductory sentence about the notebook such as the follows:
"*In this notebook, Data Science Tools and Ecosystem are summarized.*"

*Markdown before running*

In this notebook, Data Science Tools and Ecosystem are summarized.

*Markdown after running*

In this notebook, Data Science Tools and Ecosystem are summarized.

## EXERCISE 10 - INSERT A MARKDOWN CELL TO LIST OBJECTIVES
Below the introduction cell created in Exercise 3, insert a new markdown cell to list the objectives that this notebook covered (i.e. some of the key takeaways from the course). In this new cell start with an introductory line titled: "*Objectives:*" in bold font. Then using an unordered list (bullets) indicate 3 to 5 items covered in this notebook, such as "*List popular languages for Data Science*".

*Markdown before running*

In [ ]:
**Objectives:**
* List of popular languages for Data Science
* List of popular libraries for Data Science
* List of popular tools for Data Science
* Examples of arithmetic expressions

*Markdown after running*

**Objectives:**
* List of popular languages for Data Science
* List of popular libraries for Data Science
* List of popular tools for Data Science
* Examples of arithmetic expressions

# EXERCISE 4 - CREATE A MARKDOWN CELL TO LIST DATA SCIENCE LANGUAGES
Start the cell with an overview line such as:
"*Some of the popular languages that Data Scientists use are:*"
Then create an ordered list (i.e. numbered) listing 3 (or more) commonly used languages for data science.

*Markdown before running*

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL
4. Scala
5. Java
6. C++
7. Julia

*Markdown after running*

Some of the popular languages that Data Scientists use are:
1. Python
1. R
1. SQL
1. Scala
1. Java
1. C++
1. Julia

# EXERCISE 5 - CREATE A MARKDOWN CELL TO LIST DATA SCIENCE LIBRARIES
Add an overview line to the cell like:
"*Some of the commonly used libraries used by Data Scientists include:*"
Below this line add an ordered list listing 3 (or more) commonly used libraries in data science.

*Markdown before running*

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. Numpy
3. Scipy
4. Matplotlib
5. Scikit-learn
6. Plotly
7. Seaborn
8. TensorFlow
9. Keras
10. PyTorch

*Markdown after running*

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. Numpy
3. Scipy
4. Matplotlib
5. Scikit-learn
6. Plotly
7. Seaborn
8. TensorFlow
9. Keras
10. PyTorch

# EXERCISE 6 - CREATE A MARKDOWN CELL WITH A TABLE OF DATA SCIENCE TOOLS
Create a single column table in this cell with the first row containing the header
"*Data Science Tools*".
The subsequent three rows in the table should indicate three development environment open source tools used in data science.

*Markdown before running*

| Data Science Tools |
| ------------------ |
| Jupyter Notebook and JupyterLab |
| RStudio |
| Apache Spark |

*Markdown after running*


| Data Science Tools |
| ------------------ |
| Jupyter Notebook and JupyterLab |
| RStudio |
| Apache Spark |

# EXERCISE 7 - CREATE A MARKDOWN CELL INTRODUCING ARITHMETIC EXPRESSION EXAMPLES
Add a line in this cell with H3 style heading with text like:
"*Below are a few examples of evaluating arithmetic expressions in Python*"

*Markdown before running*

### Below are a few examples of evaluating arithmetic expressions in Python

*Markdown after running*

### Below are a few examples of evaluating arithmetic expressions in Python

# EXERCISE 8 - CREATE A CODE CELL TO MULTIPLY AND ADD NUMBERS
In this code cell evaluate the expression (3*4)+5. Insert a comment line before the expression to explain the operation e.g. "*This a simple arithmeticexpression to mutiply then add integers*".
Then execute the cell to ensure the expression returns the expected output of 17.

*Markdown and python cell before running*

This a simple arithmeticexpression to mutiply then add integers

In [ ]:
(3*4)+5

*Markdown and python cell after running*

This a simple arithmeticexpression to mutiply then add integers

In [1]:
(3*4)+5

17

# EXERCISE 9 - CREATE A CODE CELL TO CONVERT MINUTES TO HOURS
In this code cell write an expression that converts 200 minutes into hours. Insert a comment line before the expression to explain the operation e.g. "*This will convert 200 minutes to hours by diving by 60*". Run the cell to evaluate the expression.

*Markdown and python cell before running*

This will convert 200 minutes to hours by diving by 60

In [ ]:
200/60

*Markdown and python cell after running*

This will convert 200 minutes to hours by diving by 60

In [3]:
200/6

33.333333333333336

# EXERCISE 10 - INSERT A MARKDOWN CELL TO LIST OBJECTIVES
Below the introduction cell created in Exercise 3, insert a new markdown cell to list the objectives that this notebook covered (i.e. some of the key takeaways from the course). In this new cell start with an introductory line titled: "*Objectives:*" in bold font. Then using an unordered list (bullets) indicate 3 to 5 items covered in this notebook, such as "*List popular languages for Data Science*".

*Markdown before running*

**Objectives:**
* List of popular languages for Data Science
* List of popular libraries for Data Science
* List of popular tools for Data Science
* Examples of arithmetic expressions

*Markdown after running*

**Objectives:**
* List of popular languages for Data Science
* List of popular libraries for Data Science
* List of popular tools for Data Science
* Examples of arithmetic expressions

# Exercise 11 - Create a markdown cell to indicate the Author's name
In this markdown cell markdown cell include the following text "*Author*" in H2 style heading. Include your name as regular text below the word "*Author*".

*Markdown before running*

## Author
Francisco Javier Montenegro

*Markdown after running*

## Author
Francisco Javier Montenegro